/* Styles for the email container and image in blurb on home page*/
.email-container {
    font-size: 16px;
    line-height: 24px; /* Adjust this value if needed */
    text-align: center;
}
.email-container img {
    max-height: 15px; /* Match the line height of the text */
    vertical-align: middle; /* Align the image with the middle of the text */
}

/* Styles for social logos on home page */
.icon {
    width: 32px; /* Adjust the size as needed */
    height: auto;
    vertical-align: middle;
}

/* Styles for project buttons */
.project-button {
    display: block;
    padding: 20px;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid;
    transition: transform 0.3s, background-color 0.3s;
    margin: 20px auto;
    width: 300px; /* Adjust width as needed */
    border-radius: 0; /* Sharp corners */
}

/* Color variations */
.project-blue {
    background-color: #007BFF;
    border-color: #007BFF;
}

.project-blue:hover {
    background-color: #0056b3;
}

.project-green {
    background-color: #28a745;
    border-color: #28a745;
}

.project-green:hover {
    background-color: #218838;
}


/* Styles for the page contents */
.center-text {
    text-align: center;
}

.large-heading {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 60px;
}

.small-text {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
}

.medium-heading {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 40px;
}

.small-heading {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24px;
}